/ThirdParty/boost/boost_1_58_0
/ThirdParty/boost/casal2_unzip.log
/ThirdParty/boost/windows.pyc
/ThirdParty/googletest_googlemock/windows.pyc
/ThirdParty/googletest_googlemock/gmock-1.6.0
/ThirdParty/googletest_googlemock/casal2_unzip.log
/BuildSystem/buildtools/classes/*.pyc
/BuildSystem/bin
/BuildSystem/buildtools/windows/Python27
/.settings/*.prefs
/Documentation/UserManual/*.aux
.Rproj.user
/R-libraries/ibm/man
/R-libraries/ibm/NAMESPACE
/R-libraries/ibm/DESCRIPTION
/Documentation/UserManual/Syntax
/TestModels/SteadyStateModel/test.log
/TestModels/SimpleModel/test.log
/Example/SpatialModel/ibm/Initial_age_comp_row_2.jpg
/Example/SpatialModel/ibm/Initial_age_comp_row_3.jpg
/Example/SpatialModel/ibm/Initial_age_comp_row_4.jpg
/Example/SpatialModel/ibm/Initial_age_comp_row_5.jpg
/Example/SpatialModel/ibm/Initial_age_comp_row_1.jpg
/initial thoughts.docx
